<template>
  <div class="wrapper">
    <div>
      <img src="../imgs/top001.jpg">
    </div>
    <div id="dataNums">
      <img src="../imgs/002.jpg">
      <ul class="dataNums inrow">
        <li class="dataOne " v-for="(item,i) in [0,1,2,3,4,5,6,7,8,9,10]">
          <div class="dataBoc" ref="dataBoc">
            <div class="tt" ref="tt"  t="38" ><span class="num0">0</span> <span
              class="num1">1</span> <span class="num2">2</span> <span class="num3">3</span>
              <span class="num4">4</span><span class="num5">5</span> <span class="num6">6</span>
              <span class="num7">7</span>
              <span class="num8">8</span>
              <span class="num9">9</span>
              <span class="num0">0</span>
              <span class="num1">1</span>
              <span class="num2">2</span>
              <span class="num3">3</span>
              <span class="num4">4</span>
              <span class="num5">5</span>
              <span class="num6">6</span>
              <span class="num7">7</span>
              <span class="num8">8</span>
              <span class="num9">9</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="openLottery" @click="openLottery">  <img src="../imgs/lottery.png"></div>
    <div class="regulation">
      <div class="item">
        游戏规则
      </div>
    </div>
    <div class="record">
      <div class="item">中间记录</div>
    </div>


  </div>
</template>
<script>
  export default {
    data: () => ({

    }),
    created(){

    },
    methods:{
      openLottery(){
        debugger
        var number = '18873557604';
        var $num_item =this.$refs.tt;
        var numberStr = number.toString();
        if(numberStr.length <= $num_item.length - 1){
          var tempStr = '';
          for(var a = 0; a < $num_item.length - numberStr.length; a++){
            tempStr += '0';
          }
          numberStr = tempStr + numberStr;
        }
        var numberArr = numberStr.split('');
        var h = this.$refs.dataBoc[0].offsetHeight;
        for(var a = 0; a < 11; a++){
          $num_item[a].style.top=-parseInt(numberArr[a])*h - h*10 + 'px';
          $num_item[a].style.transition="all 4s linear"
        }
      },
    }
  }
</script>
<style scoped>

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, dd, dl, dt, li, ol, ul,input,select,button,textarea,tr,td{ padding:0; margin:0; border:none;}
  input,button,select,textarea,a,img{outline:none; }

  img{
    width: 100%;
    display: block;
  }
  .wrapper{
    width: 100%;
    height: 100%;
    min-width: 320px;
    max-width: 640px;

    position: fixed;
    font-size: 20px;
  }



  @media only screen and (max-width: 310px) and (min-width: 300px) {
    html {
      font-size: 20px !important;
    }

    .dataNums .dataOne {
      width: 0.93rem !important;
    }

    .dataNums .tt span {
      font-size: 1.8rem !important;
    }
  }

  @media only screen and (max-width: 320px) and (min-width: 310px) {
    html {
      font-size: 20px !important;
    }

    .dataNums .dataOne {
      width: 0.93rem !important;
    }

    .dataNums .tt span {
      font-size: 1.8rem !important;
    }
  }

  /*Note3*/
  @media only screen and (min-width: 360px) {
    html {
      font-size: 22px !important;
    }
  }

  /*iPhone6*/
  @media only screen and (min-width: 376px) {
    html {
      font-size: 23px !important;
    }
  }

  /*iPhone6 plus*/
  @media only screen and (min-width: 414px) {
    html {
      font-size: 24px !important;
    }
  }

  /*big Resolution*/
  @media only screen and (min-width: 641px) {
    html {
      font-size: 25px !important;
    }
  }


  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
  }
  body,html{
    width:100%;
    height: 100%;
    min-width: 320px;
    max-width: 640px;
    font-family:"Microsoft YaHei","Arial", "SimSun";
  }
  html { font-size : 20px; }
  * html .clearfix {
    zoom: 1;
  }

  *:first-child + html .clearfix {
    zoom: 1;
  }

  .fl {
    float: left;
  }

  .fr {
    float: right;
  }

  .none {
    display: none;
  }

  /*.inrow {*/
  /*font-size: 0;*/
  /*[;*/
  /*font-size: 12px;*/
  /*];*/
  /**font-size: 0;*/
  /*font-family: arial;*/
  /*[;*/
  /*letter-spacing: -3px;*/
  /*];*/
  /**letter-spacing: normal;*/
  /**word-spacing: -1px;*/
  /*}*/

  .inrow > li, .inrow span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 14px;
    letter-spacing: normal;
    word-spacing: normal;
  }

  .dataNums {
    position: absolute;
    top: 35%;
    display: block;
    width: 100%;
    height: 45px;
    text-align: center;
  }

  .dataNums .dataOne {
    width: .95555rem;
    height: 2rem;
    padding: 0px 0.1rem;
    text-align: center;
  }

  .dataNums .dataBoc {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .dataNums .dataBoc .tt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .dataNums .tt span{
    width: 100%;
    height: 100%;
    font-size: 1.9rem;
    font-weight: 500;
    color: #D4171A;
  }

  #dataNums {
    width: 100%;
    background-size: 100% 100%;
  }

  .openLottery {
    width: 65px;
    margin: 0 auto;
    height: 65px;
  }

  .disable {
    pointer-events: none;
  }

  .regulation {
    position: fixed;
    top: 77%;
    text-align: center;
    width: 100%;
  }

  .regulation .item {
    margin: 0 auto;
    width: 48%;
    height: 30px;
    line-height: 30px;
    background: #D4171A;
    color: #fff;
    border-radius: 40px;
    font-size: 0.72rem;
    position: relative;
  }

  .regulation .item::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #fff;
    right: 6px;
    top: 11px;
  }

  .regulation .item::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #fff;
    left: 6px;
    top: 11px;
  }

  .record {
    position: fixed;
    width: 100%;
    top: 82%;
    text-align: center;
  }

  .record .item {
    height: 40px;
    line-height: 40px;
    color: #333333;
    font-size: 0.72rem;
    width: 50%;
    margin: 0 auto;
  }
</style>
<script>
  fnResize();
  window.onresize = function () {
    fnResize();
  }
  function fnResize() {
    var deviceWidth = document.documentElement.clientWidth || window.innerWidth;
    if (deviceWidth >= 641) {
      document.documentElement.style.fontSize  = 25+ 'px';
      return
    }
    if (deviceWidth >= 414) {
      document.documentElement.style.fontSize  = 24+ 'px';
      return
    }
    if (deviceWidth >= 376) {
      document.documentElement.style.fontSize  = 23+ 'px';
      return
    }
    if (deviceWidth >= 360) {
      document.documentElement.style.fontSize  = 22+ 'px';
      return
    }
    if (deviceWidth >= 310&&deviceWidth <= 320) {
      document.documentElement.style.fontSize  = 20+ 'px';
    }
  }
</script>
