<template>
  <div class="hello" style="padding: 10px">
      <p>鲀说基于每个高校为中心的本地师生用户和校友，旨在通过平台及时信息共享和互换创造价值，帮助学生解决校园生活的各方面困惑。</p>
    <p>鲀说争取通过技术手段不断提升鲀说在信息共享过程中的体验，通过校园生活全方位信息整合与服务功能叠加，争取成为每个在校师生必备的本地校园生活助手。</p>
    <p>鲀说主要功能包括但不限于：校园互助信息的发布与交流；表白和颜值打分的交友扩列；校园热门活动的公告与展示；实习与兼职信息的收集与共享；校园相关衣食住行等信息咨询与服务；各类校园信息与资源的查询使用等。</p>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  p{
    text-align: left;
    text-indent: 32px;
    margin: 0;
    font-size: 15px;
  }
</style>
