<template>
  <div style="-webkit-overflow-scrolling:touch">
    <div id="qianduanwz" style="position: fixed; left: 0; top:-100000px">
      <div class="wrapper">
        <div class="topic">{{topic}}</div>
        <div class="content">{{shareContent}} </div>
        <div class="school">{{slogan}}</div>
        <img v-if="file.length>0" :src="`https://www.qiyuanheshan.com/document/${item.fileRelativePath}`" v-for="(item,index) in file" class="equipmentWrapper" :key="index">
        <div style="display: flex; flex-direction: column; justify-content: center">
          <img class="code" :src="qrcodeUrl" alt="">
          <div class="txt">来鲀说，有一说一</div>
          <div class="txt1">长按保存到相册</div>
        </div>
      </div>
    </div>
    <div style="min-height: 100%; background: #7b6cfd">
      <img :src="url" style="width: 100%;display: block">
    </div>
    <div v-if="loading"><div class="circle"></div></div>
    <!--<div id="imgs" style="width: 100%; height: 1000px"></div>-->
  </div>
</template>
<script>
  import html2canvas from "html2canvas"

  export default {
    name: 'Canvas',
    data() {
      return {
        url: "",
        playerName: "",
        qrcodeUrl: "",
        shareContent: "",
        slogan: "",
        topic: "",
        file:[],
        loading:true
      };
    },

    created: function () {
      debugger
      let obj = JSON.parse(this.$route.query.obj);
      if (obj) {
        this.playerName=obj.playerName;
        this.qrcodeUrl=obj.qrcodeUrl;
        this.shareContent=obj.shareContent;
        this.slogan=obj.slogan;
        this.topic=obj.topic;
        this.file=obj.file
      }
      this.draw()

//      this.$nextTick(function () {
//        this.loading=false;
//        new html2canvas(document.getElementById('qianduanwz')).then(canvas => {
//          this.url = canvas.toDataURL();
//        });
//      });
    },
    methods: {
      draw(){
        let _this=this
        setTimeout(function()  {
          _this.loading=false;
          new html2canvas(document.getElementById('qianduanwz')).then(canvas => {
            _this.url = canvas.toDataURL();
          });
        }, 4000);
      }
    }
  }
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .circle {
    margin: 20px;
    position: fixed;
    top:30%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    transform: scale(0);
    animation: bulge 2s infinite ease-in-out;
  }
  .circle::after {
    position: absolute;
    display: inline-block;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(1);
    animation: blow 2s infinite ease-in-out;
  }
  .circle:nth-child(1) {
    background-color: #7b6cfd;
    animation-delay: 0s;
  }
  @keyframes bulge {
    50% {
      transform: scale(1);
    }
  }


  @keyframes blow {
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.5;
    }
    90% {
      opacity: 0;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }


  .txt{
    font-size: 14px;
    color: #666;
    margin: 10px ;
  }
  .txt1{
    font-size: 18px;
    color: #000;
    padding-bottom: 20px;
  }

  .wrapper {
    background: #fff;
    padding: 0 10px 10px;
    border: 10px solid #7b6cfd;
    position: relative;
  }
  .school{
    position: absolute;
    top: 7px;
    left: 20px;
    z-index: 0;
    opacity: .2;
    font-size: 47px;
    transform: rotate(-10deg);
    z-index: 11111;
  }
  .content {
    word-break: break-all;
    line-height: 160%;
    margin-bottom: 10px;
    clear: both;
    text-align: left;
    font-size: 22px;
    font-weight: 700;
  }

  .topic {
    background: #fed428;
    padding: 12px;
    width: 100px;
    font-size: 22px;
    font-weight: bold;
    margin: 20px auto;
  }

  #qianduanwz {
    width: 100%;
    text-align: center;
    background: #fff
  }

  #qianduanwz img {
    width: 100%;
    margin-bottom: 6px;
  }
  #qianduanwz img.code{
    width: 100px;
    height: 100px;
    margin:20px auto;
  }
  #qianduanwz p {
    margin: 0;
    padding-top: 10px;
    font-size: 20px;
    color: #fff;
  }
</style>
