<template>
  <div>
    <div  v-for="(item, index) in list" class="wrapper">
      <div class="topic">
        <div class="name">用户名：{{item.nickName}}</div>
        <div class="name" v-if="item.studentId">学号：{{item.studentId}}</div>
        <div class="name" v-if="item.school">学校：{{item.school}}</div>
        <div class="name" v-if="item.profession">专业：{{item.profession}}</div>
        <div class="name" v-if="item.grade">班级：{{item.grade}}</div>
        <div class="name" v-if="item.avatarUrl">头像：</div>
        <img class="imgs" :src="`https://www.qiyuanheshan.com/document${item.avatarUrl}`"/>
      </div>
      <div style="display: flex; justify-content: space-between">
        <div class="btn11" @click="delBtn(item.id)">解封</div>
      </div>
    </div>
    <div v-if="list&&list.length==0" style="margin: 100px auto 0">暂无封号</div>
  </div>
</template>
<style scoped>
  #video{
    width: 100%;
  }
  .active{
    color: red;
  }
  .btn11{
    padding: 10px;
    WIDTH: 65PX;
    BACKGROUND: #2c3e50;
    COLOR: #FFF;
  }
  .imgs{
    width: 100px;
    height: 100px;
    margin-right: 3%;
    float: left;
    margin-bottom: 10px;
  }
  .wrapper {
    padding: 10px;
    padding-top: 30px;
    border-bottom: 10px solid #eeeeee;
    position: relative;
  }
  button{
    width: 60px;
    height: 30px;
  }
  .topic {
    background: #ffffff;
    overflow: hidden;
    font-size: 18px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
  }

  .content {
    text-align: left;
    margin: 10px 0;
  }

  .leixing {
    color: red;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 4px;
  }

  .name {
    display: flex;
    color: #fff;
    background: #7b6cfd;
    flex: 1;
  }
</style>
<script>
  import {Request} from '../services';

  export default {
    data: () => ({
      list: [],
      videoShow: false,
      videoUrl: "",
    }),
    created() {
      this.look(this.objectType)
    },
    methods: {
      look(type){
        this.objectType=type;
        Request.fetchPost('admin/forbid_list',null, null, false, true, true).then(function (res) {
          debugger
          if (res.code == 200) {
            this.list = res.data
          } else {
            alert(res.message);
          }
        }.bind(this))
      },
      delBtn(userId) {
        Request.fetchPost('admin/cancel_forbid/'+userId, null, false, false,false).then(function (res) {
          if (res.code == 200) {
            alert('解封成功');
          } else {
            alert(res.message);
          }
        })
      },
    }
  }
</script>
