<template>
    <div class="homeWrapper">
      <div @click="goRelease" style="background: #ffbc00">投诉列表</div>
      <div @click="goVideo" style="background: #7b6cfd">音频审核</div>
      <div @click="goIndFor" style="background: #d42121">认证审核</div>
      <div @click="goForBid" style="background: #d42121">封号列表</div>
    </div>
</template>
<script>
  export default ({
    data:()=>({

     }),
    methods:{
      goRelease(){
        this.$router.push({path: '/releaseList'})
      },
      goVideo(){
        this.$router.push({path: '/videoList'})
      },
      goIndFor(){
        this.$router.push({path: '/indForList'})
      },
      goForBid(){
        this.$router.push({path: '/forbidList'})
      }
    }
  })
</script>
<style scoped>
  .homeWrapper{
    display: flex;
    flex-direction: column;
  }
  .homeWrapper div{
    height: 80px;
    margin: 5px 10px;
    line-height: 80px;
    font-size: 24px;
    color: #fff;
  }
</style>
