<template>
  <div class="hello">
      <img src="../imgs/1.jpg"/>
    <img src="../imgs/2.jpg"/>
    <img src="../imgs/3.jpg"/>
    <img src="../imgs/4.jpg"/>
    <img src="../imgs/5.jpg"/>
    <img src="../imgs/6.jpg"/>
    <img src="../imgs/7.jpg"/>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  img{
    width: 100%;
    display: block;
  }
</style>
