<template>
  <div>
    <img class="logo" src="../imgs/logobg.jpg"/>
    <input  v-model="userName" placeholder="账号"/>
    <input  v-model="password" placeholder="密码"/>
    <div style="margin: 0 20px">
      <a class="btn J_ping" @click="login">登 录</a>
    </div>
  </div>
</template>
<script>
  import {Request} from '../services';
  import Vue from 'vue'
  export default {
    data: () => ({
      userName: '',
      password: ''
    }),
    created(){
      if(this.$cookie.get('userName')){
        this.userName=this.$cookie.get('userName')
      }
      if(this.$cookie.get('password')){
        this.password=this.$cookie.get('password')
      }
    },
    methods:{
      login() {
        debugger
        if (!this.userName) {
          alert('账号不能为空')
        } else if (!this.password) {
          alert('密码不能为空');
        } else {
          this.$cookie.set('userName', this.userName, { path: "/", expires: "1Y" });
          this.$cookie.set('password', this.password, { path: "/", expires: "1Y" });
          Request.fetchPost('admin/login', {
            username: this.userName,
            password: this.password
          }, null, false, true).then(function (res) {
            debugger
            if (res.code == 200) {
              this.$cookie.set('token', res.data.token, { path: "/", expires: "1Y" });
              this.$router.push({path: '/index'})} else {
              alert(res.message);
            }
          }.bind(this))
        }
      },
    }
  }
</script>
<style scoped>
  input {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: 20px;
    line-height: 50px;
    background: #fff;
    border: 0;
    border-bottom: .01rem solid #efefef;
    border-radius: 0;
    font-size: 16px;
    outline: none;
  }
  .logo{
    width: 80px;
    height: 80px;
    margin: 20px auto;
  }
  .btn {
    width: 100%;
    margin: 20px auto;
    height: 50px;
    line-height: 50px;
    display: block;
    background-color: #7b6cfd;
    border-radius: 100px;
    font-size: 18px;
    color: #fff;
  }
</style>
