<template>
  <div class="wrapper">
    <div id="dataNums">
      <ul class="dataNums inrow">

        <div v-if="prizedrawDetail.openPrize&&!prizedrawDetail.drawNum" style="font-size: 32px; color: #fff">
          <div style="font-size: 20px">已开奖</div>
        </div>
        <div v-if="prizedrawDetail.drawNum" style="font-size: 32px; color: #fff">
          <div style="font-size: 20px">您的号码</div>
          {{prizedrawDetail.drawNum}}
        </div>
        <li class="dataOne " v-for="(item,i) in num" v-if="!prizedrawDetail.drawNum">
          <div class="dataBoc" ref="dataBoc">
            <div class="tt" ref="tt" t="38">
              <span class="num0">{{item.num0}}</span>
              <span class="num1">{{item.num1}}</span>
              <span class="num2">{{item.num2}}</span>
              <span class="num3">{{item.num3}}</span>
              <span class="num4">{{item.num4}}</span>
              <span class="num5">{{item.num5}}</span>
              <span class="num6">{{item.num6}}</span>
              <span class="num7">{{item.num7}}</span>
              <span class="num8">{{item.num8}}</span>
              <span class="num9">{{item.num9}}</span>
              <span class="num0">{{item.num0}}</span>
              <span class="num1">{{item.num1}}</span>
              <span class="num2">{{item.num2}}</span>
              <span class="num3">{{item.num3}}</span>
              <span class="num4">{{item.num4}}</span>
              <span class="num5">{{item.num5}}</span>
              <span class="num6">{{item.num6}}</span>
              <span class="num7">{{item.num7}}</span>
              <span class="num8">{{item.num8}}</span>
              <span class="num9">{{item.num9}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="openLottery" @click="openLottery"><img src="../imgs/button.png"/></div>
    <div class="openLottery1" @click="openLottery" v-if="prizedrawDetail.openTime&&!prizedrawDetail.openPrize">
      开奖时间：{{prizedrawDetail.openTime}}
    </div>
    <div class="openLottery1" v-if="prizedrawDetail.openPrize&&prizedrawDetail.drawNum&&luckPrize.length==0">
      很抱歉,您没有中奖！谢谢参与
    </div>
    <div class="openLottery1" v-if="prizedrawDetail.openPrize&&prizedrawDetail.drawNum&&luckPrize.length>0">
      恭喜您获得{{luckPrize[0].name}}
    </div>
    <div class="regulation" @click="lookRule">
      <div class="item">
        抽奖规则,奖品
      </div>
    </div>
    <div v-if="showMask" class="showMask" @click="hideMask">
      <div>
        <div class="title">抽奖规则</div>
        <div>转发推文并添加自己所属学校客服微信参与抽奖，点击抽奖生成专属抽奖码，10.26号晚18.00开奖！</div>
      </div>
      <div>
        <div class="title">鲀说奖品</div>
        <div style="line-height: 30px; color: #000; font-weight: 600; font-size: 14px">
          <div>
            <div>一等奖(1名)</div>
            <div>苹果12，新国标小龟一辆，免费先锋驾校学车名额✘1，嗨蹦野格一套！</div>
          </div>
          <div>
            <div>二等奖(3名)</div>
            <div>嗨蹦鸡尾酒✘10</div>
            <div> 温州烧烤霸王餐✘1</div>
            <div> 亿口香鸡腿加上校鸡块套餐✘10份</div>
            <div> 益禾堂✘10</div>
            <div> 免费洗剪吹✘2</div>
            <div> 牛肉饭✘10</div>
            <div> 先锋驾校减免1000✘1</div>
            <div> 新国标电瓶车抵用券200</div>
            <div>老东家烤羊腿✘1</div>
            <div>多宝鱼✘10</div>
            <div>阿刚肉蟹煲100元无门槛代金券✘3</div>
          </div>
          <div>
            <div>三等奖(300名)</div>
            <div>电瓶车抵用券300</div>
            <div>先锋驾校抵用券500</div>
            <div>嗨蹦八折抵用券</div>
            <div>米乐烫染抵用券100</div>
            <div>嗨蹦鸡尾酒9.9/杯</div>
          </div>
        </div>
      </div>
    </div>
    <div class="mask" v-if="showMask" @click="hideMask"></div>
    <!--<div class="regulation record">-->
    <!--<div class="item">中奖记录</div>-->
    <!--</div>-->


  </div>
</template>
<script>
  import {Request} from '../services';

  export default {
    data: () => ({
      luckNum: '',
      prizedrawDetail: {},
      luckPrize: null,
      showMask: false,
      num: [
        {num0: 0, num1: 1, num2: 2, num3: 3, num4: 4, num5: 5, num6: 6, num7: 7, num8: 8, num9: 9, num10: 10},
        {num0: 0, num1: 1, num2: 2, num3: 3, num4: 4, num5: 5, num6: 6, num7: 7, num8: 8, num9: 9, num10: 10},
        {num0: 0, num1: 1, num2: 2, num3: 3, num4: 4, num5: 5, num6: 6, num7: 7, num8: 8, num9: 9, num10: 10},
        {num0: 0, num1: 1, num2: 2, num3: 3, num4: 4, num5: 5, num6: 6, num7: 7, num8: 8, num9: 9, num10: 10},
        {num0: 0, num1: 1, num2: 2, num3: 3, num4: 4, num5: 5, num6: 6, num7: 7, num8: 8, num9: 9, num10: 10},
        {num0: 0, num1: 1, num2: 2, num3: 3, num4: 4, num5: 5, num6: 6, num7: 7, num8: 8, num9: 9, num10: 10},
        {num0: 0, num1: 1, num2: 2, num3: 3, num4: 4, num5: 5, num6: 6, num7: 7, num8: 8, num9: 9, num10: 10},
        {num0: 0, num1: 1, num2: 2, num3: 3, num4: 4, num5: 5, num6: 6, num7: 7, num8: 8, num9: 9, num10: 10},
        {num0: 0, num1: 1, num2: 2, num3: 3, num4: 4, num5: 5, num6: 6, num7: 7, num8: 8, num9: 9, num10: 10},
        {num0: 0, num1: 1, num2: 2, num3: 3, num4: 4, num5: 5, num6: 6, num7: 7, num8: 8, num9: 9, num10: 10},
        {num0: 0, num1: 1, num2: 2, num3: 3, num4: 4, num5: 5, num6: 6, num7: 7, num8: 8, num9: 9, num10: 10},
      ],
    }),
    created: function () {
      this.getDetail()
    },
    methods: {
      hideMask() {
        this.showMask = false
      },
      lookRule() {
        this.showMask = true
      },
      getDetail() {
        let token = this.$route.query.token;
        if (token) {
          Request.fetchPost('prizedraw/detail', null, null, true, true, false, token).then(function (res) {
            debugger
            if (res.code == 200) {
              this.prizedrawDetail = res.data;
              if (res.data.openPrize) {
                let prizeConf = JSON.parse(res.data.prizeConf);
//                prizeConf.indexOf(res.data.drawNum)
                let aa = prizeConf.filter(item => {
                  return item.prizeNum == res.data.drawNum
                })
                this.luckPrize = aa;
              }
            } else {
              alert(res.message);
            }
          }.bind(this))
        }
      },
      openLottery() {
        debugger
        if (this.prizedrawDetail.openPrize) {
          alert('抽奖已结束')
          return
        }
        if (this.prizedrawDetail.drawNum && !this.prizedrawDetail.openPrize) {
          alert('您已抽过奖，静待开奖')
          return
        }
        let token = this.$route.query.token;
        if (token) {
          Request.fetchPost('prizedraw/get_num', null, null, true, true, false, token).then(function (res) {
            debugger
            if (res.code == 200) {
              this.luckNum = res.data;
              this.draw(res.data)
            } else {
              alert(res.message);
            }
          }.bind(this))
        }
      },
      draw(number) {
        let that = this;
        var number = number;
        var $num_item = this.$refs.tt;
        var numberStr = number.toString();
        if (numberStr.length <= $num_item.length - 1) {
          var tempStr = '';
          for (var a = 0; a < $num_item.length - numberStr.length; a++) {
            tempStr += '0';
          }
          numberStr = tempStr + numberStr;
        }
        var numberArr = numberStr.split('');
        var h = this.$refs.dataBoc[0].offsetHeight;
        for (var a = 0; a < 11; a++) {
          $num_item[a].style.top = -parseInt(numberArr[a]) * h - h * 10 + 'px';
          $num_item[a].style.transition = "all 4s linear"
        }
        setTimeout(function () {
          that.getDetail()
        }, 4000);
      },
    }
  }
</script>
<style scoped>
  .mask {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: .5;
    z-index: 1;
  }

  .title {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    width: 100px;
    margin: 20px auto 10px;
    background: #fecd06;
    border-radius: 5px;
  }

  .showMask {
    position: fixed;
    bottom: 100px;
    top: 100px;
    overflow: scroll;
    background: #fff;
    width: 80%;
    left: 10%;
    box-sizing: border-box;
    z-index: 2;
    padding: 10px;
    border-radius: 5px;
    padding-bottom: 20px;
  }

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, dd, dl, dt, li, ol, ul, input, select, button, textarea, tr, td {
    padding: 0;
    margin: 0;
    border: none;
  }

  input, button, select, textarea, a, img {
    outline: none;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    min-width: 320px;
    max-width: 640px;

    position: fixed;
    font-size: 16px;
  }

  @media only screen and (max-width: 310px) and (min-width: 300px) {
    html {
      font-size: 20px !important;
    }

    .dataNums .dataOne {
      width: 0.93rem !important;
    }

    .dataNums .tt span {
      font-size: 1.8rem !important;
    }
  }

  @media only screen and (max-width: 320px) and (min-width: 310px) {
    html {
      font-size: 20px !important;
    }

    .dataNums .dataOne {
      width: 0.93rem !important;
    }

    .dataNums .tt span {
      font-size: 1.8rem !important;
    }
  }

  /*Note3*/
  @media only screen and (min-width: 360px) {
    html {
      font-size: 22px !important;
    }
  }

  /*iPhone6*/
  @media only screen and (min-width: 376px) {
    html {
      font-size: 23px !important;
    }
  }

  /*iPhone6 plus*/
  @media only screen and (min-width: 414px) {
    html {
      font-size: 24px !important;
    }
  }

  /*big Resolution*/
  @media only screen and (min-width: 641px) {
    html {
      font-size: 25px !important;
    }
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
  }

  * html .clearfix {
    zoom: 1;
  }

  *:first-child + html .clearfix {
    zoom: 1;
  }

  .fl {
    float: left;
  }

  .fr {
    float: right;
  }

  .none {
    display: none;
  }

  /*.inrow {*/
  /*font-size: 0;*/
  /*[;*/
  /*font-size: 12px;*/
  /*];*/
  /**font-size: 0;*/
  /*font-family: arial;*/
  /*[;*/
  /*letter-spacing: -3px;*/
  /*];*/
  /**letter-spacing: normal;*/
  /**word-spacing: -1px;*/
  /*}*/

  .inrow > li, .inrow span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 14px;
    letter-spacing: normal;
    word-spacing: normal;
  }

  .dataNums {
    position: absolute;
    top: 65%;
    display: block;
    width: 100%;
    height: 45px;
    text-align: center;
  }

  .dataNums .dataOne {
    width: 5%;
    height: 2rem;
    text-align: center;
    padding: 0 .01rem;
  }

  .dataNums .dataBoc {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .dataNums .dataBoc .tt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .dataNums .tt span {
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
  }

  #dataNums {
    width: 100%;
    height: 100%;
    background: url(../imgs/lottery.png) no-repeat;
    background-size: 100% 100%;
  }

  .openLottery {
    position: absolute;
    bottom: 10%;
    width: 130px;
    margin: 0 auto;
    height: 5%;
    left: calc((100% - 130px) / 2);
  }

  .openLottery1 {
    position: absolute;
    bottom: 33%;
    width: 330px;
    margin: 0 auto;
    height: 5%;
    font-size: 18px;
    color: #fff;
    left: calc((100% - 330px) / 2);
  }

  .disable {
    pointer-events: none;
  }

  .openLottery img {
    width: 100%;
    height: 90%;
    display: block;
  }

  .regulation {
    position: fixed;
    top: 37%;
    text-align: center;
    width: 100%;
  }

  .regulation .item {
    margin: 0 auto;
    width: 56%;
    height: 36px;
    line-height: 36px;
    background: #D4171A;
    color: #fff;
    border-radius: 40px;
    font-size: 22px;
    position: relative;
  }

  .regulation .item::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #fff;
    right: 6px;
    top: 11px;
  }

  .regulation .item::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #fff;
    left: 6px;
    top: 11px;
  }

  .record {
    position: fixed;
    top: 45%;
    text-align: center;
    width: 50%;
    right: 0;
  }

  .record .item {
    height: 30px;
    line-height: 30px;
    background: #000;
    color: #fff;
    font-size: 17px;
    width: 56%;
    margin: 0 auto;
  }
</style>
