<template>
  <div>
    <div style="display: flex; justify-content: space-around; height: 50px; align-items: center">
      <div @click="look(0)" :class="objectType==0?'active':''">动态</div>
      <div @click="look(2)" :class="objectType==2?'active':''">评论</div>
      <div @click="look(1)" :class="objectType==1?'active':''">表白</div>
      <div @click="look(3)" :class="objectType==3?'active':''">组队</div>
    </div>
    <div  v-for="(item, index) in list" class="wrapper">
      <div class="topic">
        <div class="name">{{item.topic}}</div>
        <div class="content">{{item.contentText||item.content}}</div>
        <img class="imgs"  v-for="(good, index) in item.releaseFiles" :src="`https://www.qiyuanheshan.com/document${good.fileRelativePath}`"/>
      </div>
      <div style="display: flex; justify-content: space-between">
        <div class="btn11" @click="delBtn(item.releaseId||item.commentId||item.teamId)">删除</div>
        <div class="btn11" @click="delBtn2(item.complaintId)">解除</div>
        <div class="btn11" @click="delBtn1(item.userId)">封号</div>
      </div>

      <div class="leixing">
        <div>{{item.complaintTypeStr}}</div>
      </div>
    </div>
    <div v-if="list&&list.length==0" style="margin: 100px auto 0">暂无投诉内容</div>
  </div>
</template>
<style scoped>
  .active{
    color: red;
  }
  .btn11{
    padding: 10px;
    WIDTH: 65PX;
    BACKGROUND: #2c3e50;
    COLOR: #FFF;
  }
  .imgs{
    width: 30%;
    margin-right: 3%;
    float: left;
    margin-bottom: 10px;
  }
  .wrapper {
    padding: 10px;
    padding-top: 30px;
    border-bottom: 10px solid #eeeeee;
    position: relative;
  }
  button{
    width: 60px;
    height: 30px;
  }
  .topic {
    background: #ffffff;
    overflow: hidden;
    font-size: 18px;
  }

  .content {
    text-align: left;
    margin: 10px 0;
  }

  .leixing {
    color: red;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 4px;
  }

  .name {
    color: #fff;
    background: #7b6cfd;
    width: 100px;
  }
</style>
<script>
  import {Request} from '../services';

  export default {
    data: () => ({
      list: [],
      objectType:0
    }),
    created() {
     this.look(this.objectType)
    },
    methods: {
      look(type){
        this.objectType=type;
        Request.fetchPost('admin/complaint/list?objectType='+type,null, null, false, true, true).then(function (res) {
          debugger
          if (res.code == 200) {
            this.list = res.data
          } else {
            alert(res.message);
          }
        }.bind(this))
      },
      delBtn(objectId) {
        Request.fetchPost('admin/complaint/delete', {objectId:objectId,objectType:this.objectType}, null, false,true,false).then(function (res) {
          if (res.code == 200) {
            alert('删除成功');
          } else {
            alert(res.message);
          }
        })
      },
      delBtn1(userId) {
        Request.fetchPost('admin/forbid/'+userId,null, null, false, true,false).then(function (res) {
          if (res.code == 200) {
            alert('封号成功');
          } else {
            alert(res.message);
          }
        })
      },
      delBtn2(complaintId) {
        Request.fetchPost('admin/delete/'+complaintId,null, null, false, true,false).then(function (res) {
          if (res.code == 200) {
            alert('解除投诉成功');
          } else {
            alert(res.message);
          }
        })
      },
    }
  }
</script>
