<template>
    <div style="padding: 10px">
      <h4>1、禁止用户从事以下行为：</h4>
      <P>（1）反对宪法所确定的基本原则的；</P>
      <P>（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</P>
      <P>（3）损害国家荣誉和利益的；</P>
      <P>（4）煽动民族仇恨、民族歧视，破坏民族团结的；</P>
      <P>（5）破坏国家宗教政策，宣扬邪教和封建迷信的；</P>
      <P>（6）散布谣言，扰乱社会秩序，破坏社会稳定的；</P>
      <P>（7）散布淫秽、赌博、暴力、凶杀、自残、恐怖或者教唆犯罪的；</P>
      <P>（8）侮辱或者诽谤他人，侵害他人合法权益（如名誉权、肖像权等）的；</P>
      <P>（9）侵害他人知识产权、商业秘密等合法权利的；</P>
      <P>（10）虚构事实、隐瞒真相以误导、欺骗他人的；</P>
      <P>（11）发布、传送、传播广告信息及垃圾信息的；</P>te
      <P>（12）其他法律法规禁止的行为。</P>
      <P>如果您上传、发布或传输的内容含有以上违反法律法规的信息或内容，或者侵犯任何第三方的合法权益，您将直接承担以上导致的一切不利后果。</P>
      <h4>2、用户对经由本网站上载、张贴、传送的内容承担全部责任</h4>
      <P>（1）对于用户经由鲀说传送的内容，鲀说不保证其合法性、正当性、准确性、完整性或品质。用户在接受本网站服务后，在任何情况下，鲀说均不对任何内容承担任何责任，包括但不限于任何内容发生任何错误或纰漏以及衍生的任何损失或损害。鲀说有权（但无义务）自行拒绝或删除经由本网站提供的任何内容。</P>
      <P>（2）鲀说有权利在下述情况下，对内容进行保存或披露：</P>
      <P>a 法律程序所规定；</P>
      <P>b 本服使用协议规定；</P>
      <P>c 被侵害的第三人提出权利主张；</P>
      <P>d 为保护鲀说、其使用者及社会公众的权利、财产或人身安全；</P>
      <P>e 其他鲀说认为有必要的情况。</P>
      <h4>3、对用户发布信息的存储和披露</h4>
      <P>鲀说不对用户所发布信息的删除或储存失败承担责任。请用户另行存储备份。鲀说有权判断用户的行为是否符合本协议规定，如果鲀说认为用户违背了协议条款规定，有终止向其提供网站服务的权利。</P>
        <h4>4、用户同意遵守鲀说规则、常见问题解答等鲀说管理规定。</h4>
          <h4>5、关于个人信息保护</h4>
      <p>鲀说深知个人信息对您的重要性，并会尽全力保护您的个人信息安全可靠。在您使用鲀说提供的产品或服务的过程中，您同意按照鲀说发布的隐私政策收集、使用、存储、共享、披露和保护您的个人信息。请在注册鲀说用户前，仔细阅读鲀说隐私政策，以了解鲀说如何处理和保护您的个人信息。</p>
    </div>
</template>
<style scoped>
  *{
    text-align: left;
  }
  p,h4{
    margin: 0;
  }
</style>
