<template>
  <div>
    <div  v-for="(item, index) in list" class="wrapper">
      <div class="topic">
        <div class="name">{{item.topic}}</div>
        <div class="content">{{item.contentText||item.content}}</div>
        <!--<img class="imgs"  style="width: 100%" v-for="(good, index) in item.releaseFiles"  @click="videoPay(good)" :src="`https://www.qiyuanheshan.com/document${good.coverRelativePath}`"/>-->
        <video style="width: 100%"  v-for="(good, index) in item.releaseFiles" :src="`https://www.qiyuanheshan.com/document${good.fileRelativePath}`" controls></video>
      </div>
      <div style="display: flex; justify-content: space-between">
        <div class="btn11" @click="delBtn(item.releaseId)">通过</div>
        <div class="btn11" @click="delBtn2(item.releaseId)">删除</div>
        <div class="btn11" @click="delBtn1(item.userId)">封号</div>
      </div>

      <div class="leixing">
        <div>{{item.complaintTypeStr}}</div>
      </div>
    </div>
    <div v-if="list&&list.length==0" style="margin: 100px auto 0">暂无音频</div>
  </div>
</template>
<style scoped>
  #video{
    width: 100%;
  }
  .active{
    color: red;
  }
  .btn11{
    padding: 10px;
    WIDTH: 65PX;
    BACKGROUND: #2c3e50;
    COLOR: #FFF;
  }
  .imgs{
    width: 30%;
    margin-right: 3%;
    float: left;
    margin-bottom: 10px;
  }
  .wrapper {
    padding: 10px;
    padding-top: 30px;
    border-bottom: 10px solid #eeeeee;
    position: relative;
  }
  button{
    width: 60px;
    height: 30px;
  }
  .topic {
    background: #ffffff;
    overflow: hidden;
    font-size: 18px;
  }

  .content {
    text-align: left;
    margin: 10px 0;
  }

  .leixing {
    color: red;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 4px;
  }

  .name {
    color: #fff;
    background: #7b6cfd;
    width: 100px;
  }
</style>
<script>
  import {Request} from '../services';

  export default {
    data: () => ({
      list: [],
      videoShow: false,
      videoUrl: "",
    }),
    created() {
      this.look(this.objectType)
    },
    methods: {
      look(type){
        this.objectType=type;
        Request.fetchPost('/admin/release_audit_list',null, null, false, true, true).then(function (res) {
          debugger
          if (res.code == 200) {
            this.list = res.data
          } else {
            alert(res.message);
          }
        }.bind(this))
      },
      delBtn(objectId) {
        Request.fetchPost('admin/release_audit/'+objectId,null, null, false, true,false).then(function (res) {
          if (res.code == 200) {
            alert('通过');
          } else {
            alert(res.message);
          }
        })
      },
      delBtn1(userId) {
        Request.fetchPost('admin/forbid/'+userId,null, null, false, true,false).then(function (res) {
          if (res.code == 200) {
            alert('封号成功');
          } else {
            alert(res.message);
          }
        })
      },
      delBtn2(objectId) {
        Request.fetchPost('admin/complaint/delete', {objectId:objectId,objectType:0}, false, false,false).then(function (res) {
          if (res.code == 200) {
            alert('删除成功');
          } else {
            alert(res.message);
          }
        })
      },
    }
  }
</script>
